* {
    box-sizing: border-box;

}

.row::after 
    {
        content: "";
        clear: both;
        display: table;
    }
    

    

 
.new{

    text-align: center;
    
}
 .back{

    background-image: url("parallax3.jpg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;


 }

    .marg2{

        margin: 50px;
    }

 .ima{

    display: inline-block;
    width: 15vw;
    height: 12vw;
    /*margin: 5px;*/
    padding: 8px;
    

 }

 
.ah{


width: 300px;
height: 160px;

text-align: center;

border-radius:4px ;

}
.colo{

    color: #777777;

}
.m1{

    margin: 75px;

}

.m2{


    margin-right: 15px;
    text-align: center;
    
}

.m3{


    align-items: center;
}

.ah2{

    width: 500px;
    height: 150px;
    margin-left: 25px;
    
    
}

.ah3{

    width: 550px;
    height: 200px;
    margin-left: 580px;
    
}



.text{

    text-align: left;
}
.pos{

    display: inline-block;
    width: 272px;
}

.marg{

    margin-bottom: 10px;
}
.bton{
    width: 200px;
    height: 50px;
    background-color: black;
    transition-duration: 100ms;
    transition-property: all;
    color: white;
    border: none;
    

}
.bton:hover{

    background: whitesmoke;
    color: black;
}

.texto{

    text-align: right;
    
}

footer{

    width: 100%;
    height: 300px;
    background-color:grey ;
    transition-property: all;
    transition-duration: 200ms;
    color: white;

}

footer:hover{

    background-color: black;
    color: white;
}


.m4{

    margin-top: 75px;
}
/*
a{

    color: black;
    text-decoration: none;
}

a:visited{
color: black;
text-decoration: none;

  }
  a:hover{

    color: black;
    text-decoration: none;
}
  
a:active{

    color: black;
    text-decoration: none;
} */

.container{
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
      
}

.click{

    cursor: pointer;
    

}

.form1{

    width: 300px;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form2{
    width: 605px;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}


.marg3{

    margin-left: 42vw;
    width: 50vw;
    height: 25vw;
    margin-bottom: 50px;

}
   @media(max-width: 992px)
    {

         /* For tablets: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
    }
    @media(max-width:576px)
    {
      /*   For mobiles: */
  .col-s-1 {width: 8.33%;
            height: 8.33%;
}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;
    height: 300px;
    padding: 0;
}
  .col-s-11 {width: 91.66%;
height: 300px;}
  .col-s-12 {width: 100%;}

}

