.new{

    text-align: center;
    
}
 .back{

    background-image: url("parallax3.jpg");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;


 }

    .marg2{

        margin: 50px;
    }

 .ima{

    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 5px;

 }
.ah{

display: flex;
width: 250px;
height: 150px;
margin-left: 275px;
text-align: center;

}

.m1{

    margin: 75px;

}

.m2{

    display: inline-block;
    margin-right: 15px;
    text-align: center;
    
}

.m3{


    align-items: center;
}

.ah2{

    width: 500px;
    height: 150px;
    
}

.ah3{

    width: 550px;
    height: 200px;
    margin-left: 550px;
    
}

.text{

    text-align: left;
}
.pos{

    display: inline-block;
    width: 272px;
}

.marg{

    margin-bottom: 10px;
}
.bton{
    width: 200px;
    height: 50px;
    background-color: black;
    transition-duration: 100ms;
    transition-property: all;
    color: white;
    border: none;
    

}
.bton:hover{

    background: whitesmoke;
    color: black;
}

.texto{

    text-align: right;
    
}

footer{

    width: 100%;
    height: 300px;
    background-color:grey ;
    transition-property: all;
    transition-duration: 200ms;

}

footer:hover{

    background-color: black;
}


.m4{

    margin-top: 50px;
}