* {
    box-sizing: border-box;

}

.row::after 
    {
        content: "";
        clear: both;
        display: table;
    }
    

    

 
.new{

    text-align: center;
    
}
 .back{

    background-image: url("parallax3.jpg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;


 }

    .marg2{

        margin: 50px;
    }

 .ima{

    display: inline-block;
    width: 15vw;
    height: 12vw;
    /*margin: 5px;*/
    padding: 8px;
    

 }

 
/*.ah{

    width: 300px;
    height: 300px;
    margin-left: 20vw;
    padding-bottom: 150px;
    border-radius: 4px;
}*/
.colo{

    color: #777777;

}
.m1{
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 75px;
    

}

.m2{

    margin-left:15vw ;
    margin-right: 10px;
    text-align: center;
    

    
}

.m3{


    align-items: center;
}

.ah2{

    width: 500px;
    height: 150px;
    margin-left: 25px;
    margin-top: 50px;
    
    
    
}

.ah3{

    width: 550px;
    height: 200px;
    margin-left: 580px;

    
}



.text{

    text-align: left;
}
.pos{

    display: inline-block;
    
    
}

.marg{

    margin-bottom: 10px;
}
.bton{
    width: 200px;
    height: 50px;
    background-color: black;
    transition-duration: 100ms;
    transition-property: all;
    color: white;
    border: none;
    

}
.bton:hover{

    background: whitesmoke;
    color: black;
}

.texto{

    text-align: center;
    margin-left: 300px;
    
}

footer{

    width: 100%;
    height: 300px;
    background-color:grey ;
    transition-property: all;
    transition-duration: 200ms;
    color: white;

}

footer:hover{

    background-color: black;
    color: white;
}


.m4{

    margin-top: 75px;
}
.m5{
    width: 100%;
    height: 75%;
    margin: 10px;

}


/*.container{
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
      
}*/

.click{

    cursor: pointer;
    

}


.word{

    font-size: 36px;
    text-align: center;
    align-content: center;
    letter-spacing: 10px;
    color: #fff;
     top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;

}

.mid{

    position: relative;
}


.form1{

    width: 300px;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form2{
    width: 605px;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}


.marg3{

    margin-left: 43vw;
    width: 50vw;
    height: 15vw;
    margin-bottom: 5vw;
}

.sty{
    
    text-align: start;

    
}
  /* @media(max-width: 992px)
    {

         /* For tablets: 
  
.edi{

    width: 50vw;
    height: 200px;

}*/

    
    @media(max-width:576px)
    {
      /*   For mobiles: */
  .col-s-1 {width: 8.33%;
            height: 8.33%;
}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;
    height: 300px;
    padding: 0;
}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}


  .high{
width: 75vw;
height: 50vw;
margin-left: 0;
padding: 0;


  }

  .high1{
width: 400px;
height: 10px;
padding-left: 50px;

  }

.high2{

    height: 50px;
    width: 500px;
}  

  .nopad{

    padding: 15px;
    margin-left: 5px;
  }

  .fot{

    margin-top: 50px;
  }


  

  
}

